 html {
   background-color: #000000;
 }
 body {
   width: 1150px;
   margin: 0 auto;
   background-color: #0a0a0a;
 }


 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(68, 4, 4);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: rgb(76, 155, 175);
}

 .colocacion {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-align: justify;
  background-color: #4c6863;
}
 
 p.imagen .logo {
   float: right;
   height: 350px;
   padding-right: 10px;
   padding-bottom: 0px;
   padding-left: 10px;
 }
 
 .pie {
   background-color: #6F3662;
 }
 .pie p {
   text-align: right;
   color: #F8F8F2;
 }
 
